"*":
  core:
    telemetryConsent: "no"
  editor:
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabLength: 4
  "editor-settings": {}
  "exception-reporting":
    userId: "cad50ffe-8315-476b-a839-4606efcceca8"
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
